.car-item {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgb(203, 229, 229);
  border-radius: 30px;
  margin: 20px 20px;
  box-shadow: 2px 2px rgb(231, 233, 233);
}
.car-name {
  color: brown;
  font-size: 20px;
  font-weight: bold;
}
.car-image {
  padding: 10px;
  margin-top: 10px;
  background-color: aliceblue;
  border-radius: 4px;
  box-shadow: 2px 2px rgb(224, 219, 219);
}

.car-image img {
  width: 100%;
  border-radius: 4px;
}

.car-description {
  padding-top: 10px;
  width: 100%;
  margin: 10px;
  word-wrap: break-word;
}

.car-button {
  padding-top: 10px;
}
